.intro {
  position: relative;
  background-image: url(IMAGE.jpg);
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  padding-bottom: 70px;

  color: white;

  .p1 {
    padding-top: 10px;
    width: 495px;
    color: #c0c0c0;
  }

  
}


