@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");

:root{
  color: #c0c0c0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  font-family: "Alegreya", serif;
  font-weight: 400;
  background-color: black;
}

.color {
  color: #c0c0c0;
}
